body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#444;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

.container{
padding:30px;
}

.products{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:220px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:center;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 15px;
border-radius:5px;
cursor:pointer;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}
